.picture {
  height: auto;

  width: 100%;
  border: 5px solid black;
}
.headshot {
  width: 100%;
  background-color: rgb(140,34,48);
  padding-top: 10px;
  padding-bottom: 10px;
}
.fullscreenimage {
  width: 100%;
}
.sectionHeader {
  color: white;
  height: 100px;
  text-align: center;
  justify-content: center;
  display: flex;
    font-size: 35px;
}
.MusicSection {
  border: 2px solid black;
  background-image: url("black_back.jpg");
  height: 500px;
}
.sectionbody {
  height: 100px;
  
}