.picture {
  height: auto;

  width: 100%;
  border: 5px solid black;
}
.headshot {
  width: 100%;
  background-color: rgb(140,34,48);
  padding-top: 10px;
  padding-bottom: 10px;
}
.fullscreenimage {
  width: 100%;
}
.sectionHeader {
  
  height: 100px;
  text-align: center;
  justify-content: center;
  display: flex;
    font-size: 35px;
}
.MusicSection {
  border: 2px solid black;
  
  height: 500px;
  color: black;
  background-image: url("r6s.jpg");
}
.sectionbody {
  height: auto;
  display: flex;
  width: 100%;
  
  text-align: center;
  padding: 20px;
  padding-top: 60px;
  font-size: 20px;
  
}
.video {
  width: 100%;
  padding: 30px;

}
.AboutSection {
  border: 2px solid black;
  background-image: url("black_back.jpg");
  height: 1000px;
  background-repeat: no-repeat;
   background-size: cover;
   color: white;
   line-height: 25px;
   justify-content: center;

}
.sectionbodyabout {
  height: auto;
  display: flex;
  width: 100%;
  

  padding: 300px;
  padding-top: 60px;
  font-size: 20px;
  
}