@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Martel:wght@900&family=Source+Sans+Pro&display=swap");

p {
  font-family:  sans-serif;
  font-size: 100px;
  position: absolute;
  letter-spacing: 5px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}

.header {
  height: 150px;
  background-size: 100% 500%;

  color: white;
  display: flex;

  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-color: rgba(82, 76, 76, 0.6);
  
}

.middle {
  justify-content: center;
}
.push {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
}

.headerLink {
  color: white;
  text-decoration: none;
}

.headerLink:hover {
  color: gray;
  text-decoration: none;
}

.grow2 {
  transition: all 0.2s ease-in-out;
}

.grow2:hover {
  transform: scale(1.2);
}

img {
  height: auto;
  width: 60px;
}
li {
  list-style: none;
  padding: 20px;
}
.pull {
  color: white;
  display: flex;
  margin-right: auto;
  margin-top: 20px;
  font-size: 40px;
  padding-left: 5px;
}

@media only screen and (max-width: 1400px) {
  .header {
    height: 100px;
    font-size: 0.6rem;
    padding: 0;
    letter-spacing: 10px;
  }

  img {
    height: auto;
    width: 55px;
  }
  p {
    font-size: 55px;
    padding-top: 15px;
    letter-spacing: 5px;
    padding-right: 15px;
  }
  li {
    list-style: none;
    padding: 6px;
    justify-content: center;
    padding-top: 10px;
  }
  .push {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
  }
  .pull {
    display: flex;
    margin-right: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 0px;
    font-size: 30px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 1260px) {
  .header {
    height: 100px;
    font-size: 0.5rem;
    padding: 0;
    letter-spacing: 10px;
  }

  img {
    height: auto;
    width: 40px;
  }
  p {
    font-size: 50px;
    padding-top: 15px;
    letter-spacing: 5px;
    padding-right: 15px;
  }
  li {
    list-style: none;
    padding: 6px;
    justify-content: center;
    padding-top: 10px;
  }
  .push {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
  }
  .pull {
    display: flex;
    margin-right: auto;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 0px;
    font-size: 20px;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 100px;
    font-size: 0.5rem;
    padding: 0;
    letter-spacing: 10px;
  }

  img {
    height: auto;
    width: 40px;
  }
  p {
    font-size: 50px;
    padding-top: 15px;
    letter-spacing: 5px;
    padding-right: 15px;
  }
  li {
    list-style: none;
    padding: 6px;
    justify-content: center;
    padding-top: 15px;
  }
  .push {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
  }
  .pull {
    display: flex;
    margin-right: auto;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 0px;
    font-size: 20px;
    letter-spacing: 0px;
  }
}
